/* ! Body
-------------------------------------------------------------------------------- */
body {
    background: url( https://i.imgur.com/7OM2E3w.png ) repeat #EEE;
    color: #333;
    font-family: 'Liberation Sans',Arial,sans-serif;
    font-size: 10px;
}

a { color: #317FB7; }
a:hover { color: #429FE1; }
a:visited { color: #317FB7; }

.md a:hover { text-decoration: none; }

/* Default button style */
.btn-whoaverse {
    background: #FF8821;
    background: -webkit-linear-gradient( top,#FF8821,#CF6E1A );
    background:    -moz-linear-gradient( top,#FF8821,#CF6E1A );
    background:     -ms-linear-gradient( top,#FF8821,#CF6E1A );
    background:      -o-linear-gradient( top,#FF8821,#CF6E1A );
    border: 0;
    border-bottom: 2px solid #A45A1A;
    border-radius: 3px;
    box-shadow: 0 1px 2px hsla( 0,0%,0%,0.6 );
    color: #FFF;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 4px 8px;
    text-transform: uppercase;
    margin-right: 8px;
}
.btn-whoaverse:hover {
    background: #FF9B44;
    background: -webkit-linear-gradient( top,#FF9B44,#D77A29 );
    background:    -moz-linear-gradient( top,#FF9B44,#D77A29 );
    background:     -ms-linear-gradient( top,#FF9B44,#D77A29 );
    background:      -o-linear-gradient( top,#FF9B44,#D77A29 );
    border-bottom: 2px solid #A45A1A;
}
    a.btn-whoaverse,
    a.btn-whoaverse:hover { color: #FFF; }

/* Voting sprites */
.arrow-upvote,
.arrow-upvoted,
.arrow-downvote,
.arrow-downvoted,
.comment .arrow-upvote,
.comment .arrow-upvoted,
.comment .arrow-downvote,
.comment .arrow-downvoted {
    background: url( https://i.imgur.com/CY5zE5z.png );
    height: 16px;
    width: 16px;
}
    .arrow-upvote,.comment .arrow-upvote       { background-position: 0     0; }
    .arrow-upvoted,.comment .arrow-upvoted     { background-position: -32px 0; }
    .arrow-downvote,.comment .arrow-downvote   { background-position: -16px 0; }
    .arrow-downvoted,.comment .arrow-downvoted { background-position: -48px 0; }

/* ! Header
-------------------------------------------------------------------------------- */
#header {
    background: url( https://i.imgur.com/wc7qUVc.png ) 50% 50%;
    height: 200px;
    margin: 0;
}
    #header-container { box-shadow: 0 1px 4px hsla( 0,0%,0%,0.5 ); }

    #header-container,#sr-header-area {
        background: url( https://i.imgur.com/UzYjq0f.png ) repeat-x 50% 0;
        border: 0;
    }
        #sr-header-area .sr-list { margin-right: 59px; }
            .sr-list li a {
                color: #D0D0D0;
            }

            #sr-bar li a { color: #999; }
            #sr-header-area:hover #sr-bar li a { color: #D0D0D0; }

            /* Menu drop arrow icon */
            .drop-arrow { border-color: #D0D0D0 transparent transparent; }

        #sr-more-link {
            background: none;
            color: #CCC;
        }

        /* ! Header | Sub name
        -------------------------------------------------------------------------------- */
        .pagename {
            font-size: 24px;
            letter-spacing: -1px;
            text-transform: uppercase;
            margin-bottom: 9px;
        }
            .pagename a {
                color: #E0E0E0;
                border-style: solid none;
                border-width: 2px;
                border-color: transparent;
                padding: 0;
                margin: 0 12px;
            }
            .pagename a:hover {
                color: #E0E0E0;
                border-style: solid none;
                border-width: 2px;
                border-color: #E0E0E0;
                text-decoration: none;
            }

        /* ! Header | Tab menu
        -------------------------------------------------------------------------------- */
        .tabmenu { font-size: 16px; }
            .tabmenu li { text-transform: uppercase; }
                .tabmenu li a {
                    margin: 0 3px;
                    padding: 6px 0;
                }
                .tabmenu li.disabled a,
                .tabmenu li.selected a { border: 0; border-radius: 0; }

                .tabmenu li.disabled a {
                    color: #E0E0E0;
                }
                .tabmenu li.disabled a:hover {
                    color: #E0E0E0;
                    background: none;
                    border: 0;
                    border-style: solid none;
                    border-width: 2px;
                    border-color: #E0E0E0;
                    box-shadow: none;
                }
                .tabmenu li.disabled a.contribute {
                    background: none;
                    border: 0;
                    color: #FF8821;
                    font-weight: normal;
                }
                .tabmenu li.disabled a.contribute:hover {
                    background: none;
                    color: #FF8821;
                    border-style: solid none;
                    border-width: 2px;
                    border-color: #FF8821;
                }

                .tabmenu li.selected a {
                    background: none;
                    border: 0;
                    box-shadow: none;
                    color: #E0E0E0;
                    font-weight: bold;
                }
                .tabmenu li.selected a:hover {
                    color: #E0E0E0;
                    border-style: solid none;
                    border-width: 2px;
                    border-color: #E0E0E0;
                }
                .tabmenu li.selected a.contribute {
                    background: none;
                    border: 0;
                    color: #FF8821;
                    font-weight: bold;
                }
                .tabmenu li.selected a.contribute:hover {
                    background: none;
                    color: #FF8821;
                    border-style: solid none;
                    border-width: 2px;
                    border-color: #FF8821;
                }

        /* ! Header | Account
        -------------------------------------------------------------------------------- */
        .logged-in {
            color: #D0D0D0;
            background: none;
            border: 0;
            border-radius: 0;
        }
            #header-account a { color: #D0D0D0; }

            #header-account .separator {
                margin: 0;
                visibility: hidden;
            }

/* ! Container
-------------------------------------------------------------------------------- */
#container {
    background: none;
    border: 0;
    border-radius: 0;
    padding: 0;
}

    /* ! Container | Sidebar
    -------------------------------------------------------------------------------- */
    .side {
        background: url( https://i.imgur.com/76lSlYC.png ) #FFF;
        border-width: 1px;
        border-style: none solid solid;
        border-color: #D7D7D7;
        margin: 0;
        padding: 20px;
        width: 340px;
    }

        /* ! Container | Sidebar | Search
        -------------------------------------------------------------------------------- */
        .side .form-horizontal {
            background: url( https://i.imgur.com/H2SAgdc.png ) repeat #222;
            color: #EEE;
            margin: 0 -20px 10px;
            padding: 20px;
        }
            .side .form-control {
                background: hsla( 0,0%,0%,0.5 );
                border: 2px solid #0E0E0E;
                border-radius: 3px;
                color: #EAEAEA;
                font-size: 13px;
                margin-bottom: 5px;
                padding: 3px;
                transition: background 0.25s ease in-out;
            }
            .side .form-control:focus { border-color: #E4822E; }
            .side .form-horizontal label { font-size: 10px; }

        /* ! Container | Sidebar | Submission info
        -------------------------------------------------------------------------------- */
        .alert-h2 {
            border-width: 1px;
            border-color: #999;
            color: #EEE;
        }
            .titlebox.submissioninfo a { color: #47B1FC; }
            .titlebox.submissioninfo a:hover {
                color: #FF8821;
                text-decoration: none;
            }

        /* ! Container | Sidebar | Buttons
        -------------------------------------------------------------------------------- */
        .side .btn-whoaverse {
            background: none;
            border: 0;
            border-bottom: 2px solid transparent;
            box-shadow: none;
            border-radius: 3px;
            font-weight: bold;
            letter-spacing: 2px;
            padding: 6px 0;
            text-transform: uppercase;
        }
            .side a.btn-whoaverse { color: #444; }
        .side .btn-whoaverse:hover {
            background: #FCFCFC;
            background: -webkit-linear-gradient( top,#FCFCFC,#E1E1E1 );
            background:    -moz-linear-gradient( top,#FCFCFC,#E1E1E1 );
            background:     -ms-linear-gradient( top,#FCFCFC,#E1E1E1 );
            background:      -o-linear-gradient( top,#FCFCFC,#E1E1E1 );
            border-color: #C3C3C3;
            box-shadow: 0 1px 2px hsla( 0,0%,0%,0.6 );
        }

        /* ! Container | Sidebar | Titlebox
        -------------------------------------------------------------------------------- */
        .titlebox {
            background: url( https://i.imgur.com/H2SAgdc.png ) repeat #222;
            color: #EEE;
            margin: 10px -20px 0;
            padding: 30px 20px;
            width: auto !important;
        }
            .titlebox > h1 {
                border-bottom: 1px solid #999;
                font-size: 22px;
                font-weight: normal;
                letter-spacing: -1px;
                margin: 0 0 20px;
                padding: 0 0 10px;
                text-align: center;
                text-transform: uppercase;
            }
                .titlebox h1 a:hover { color: inherit; }

            .side .btn-whoaverse-paging {
                background: none;
                border: 0;
                border-bottom: 2px solid transparent;
                box-shadow: none;
                border-radius: 3px;
                display: block;
                color: #EEE;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 2px;
                margin-bottom: 5px;
                padding: 6px 0;
                text-transform: uppercase;
                width: 100%;
            }
            .side .btn-whoaverse-paging:hover {
                background: #FF8821;
                background: -webkit-linear-gradient( top,#FF8821,#CF6E1A );
                background:    -moz-linear-gradient( top,#FF8821,#CF6E1A );
                background:     -ms-linear-gradient( top,#FF8821,#CF6E1A );
                background:      -o-linear-gradient( top,#FF8821,#CF6E1A );
                border-bottom: 2px solid #A45A1A;
                box-shadow: 0 1px 2px hsla( 0,0%,0%,0.5 );
                color: #EEE;
            }

            .titlebox .subscribers {
                display: block;
                margin-bottom: 20px;
                text-align: center;
            }

            .titlebox .users-online { display: none; }

            .titlebox .md { padding-bottom: 20px; }
                .titlebox .md a { color: #47B1FC; }
                .titlebox .md a:hover { color: #FF8821; }

                .titlebox .md h1,
                .titlebox .md h2,
                .titlebox .md h3,
                .titlebox .md h4,
                .titlebox .md h5,
                .titlebox .md h6 {
                    border: 0;
                    font-weight: bold;
                    text-align: center;
                }
                .titlebox .md h1 { font-size: 18px; }
                .titlebox .md h2 { font-size: 16px; }
                .titlebox .md h3 { font-size: 15px; }
                .titlebox .md h4,
                .titlebox .md h5,
                .titlebox .md h6 { font-size: 14px; }

            .titlebox .bottom {
                color: inherit;
                border-top: 1px solid #999;
                padding: 10px 0 0;
            }
                .titlebox .bottom a { color: #47B1FC; }
                .titlebox .bottom a:hover { color: #FF8821; }

        /* ! Container | Sidebar | Moderators
        -------------------------------------------------------------------------------- */
        .sidecontentbox a.helplink {
            border-bottom: 2px solid transparent;
            color: #444;
            display: block;
            float: none;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 2px;
            margin-bottom: 20px;
            padding: 6px 0;
            text-align: center;
            text-transform: uppercase;
        }
        .sidecontentbox a.helplink:hover {
            background: #FCFCFC;
            background: -webkit-linear-gradient( top,#FCFCFC,#E1E1E1 );
            background:    -moz-linear-gradient( top,#FCFCFC,#E1E1E1 );
            background:     -ms-linear-gradient( top,#FCFCFC,#E1E1E1 );
            background:      -o-linear-gradient( top,#FCFCFC,#E1E1E1 );
            border-color: #C3C3C3;
            box-shadow: 0 1px 2px hsla( 0,0%,0%,0.6 );
        }

        .side .spacer.spacersection {
            background: none;
            border: 0;
            border-radius: 0;
            padding: 0;
        }

        .side .title { padding-top: 8px; }
            .side .title h1.alert-h1 {
                font-size: 15px;
                border: 0;
                color: #444;
                font-weight: bold;
                margin-bottom: 2px;
                padding: 2px;
            }

        .sidecontentbox ul.content,
        .sidecontentbox .content {
            background: none;
            border: 0;
            border-top: 1px solid #AAA;
            margin-top: 5px;
            padding-top: 5px;
        }
    
    /* ! Container | Sitetable
    -------------------------------------------------------------------------------- */
    .content {
        margin: 0 350px 0 0;
        padding: 20px 20px 25px;
    }
        .link {
            border: 0;
            border-width: 1px;
            border-style: none none solid;
            border-color: #BCBCBC;
            padding: 16px 0;
            box-shadow: 0 1px 0 #F7F7F7;
        }
        .link:last-child {
            border: 0;
            box-shadow: none;
        }
            .link .rank {
                color: #999;
                font-size: 11px;
            }

            /* Arrow score */
            .link .score { color: #999; }
                .link .score.likes    { color: #CF6E1A; }
                .link .score.dislikes { color: #333; }

            .scorebar-likes    { background: #999; }
            .scorebar-dislikes { background: #333; }

            .thumbnail { border-radius: 0; }

            .link .title:hover { color: #317FB7; }
                .link a.title.may-blank {
                    color: #444;
                    font-weight: bold;
                }
                .link a.title.may-blank:visited { color: #5A3F77; }
                .link a.title.may-blank:hover { color: #429FE1; }

                .link .title .domain {
                    letter-spacing: 0;
                    font-weight: normal;
                    font-size: 12px;
                }
                    .link .title .domain a {
                        color: #666;
                        margin: 0 2px;
                    }
                    .link .title .domain a:hover { color: #429FE1; }

            .link .tagline {
                color: #6C6C6C;
                font-size: 13px;
            }
            .link .tagline a { color: #317FB7; }
                .tagline .post_upvotes   { color: #277CCB; }
                .tagline .post_downvotes { color: #333; }

                .link a.author.may-blank { color: #277CCB; }

            .link .usertext .md {
                background: #FFF;
                background: -webkit-linear-gradient( top,#FFF,#F7F7F7 );
                background:    -moz-linear-gradient( top,#FFF,#F7F7F7 );
                background:     -ms-linear-gradient( top,#FFF,#F7F7F7 );
                background:      -o-linear-gradient( top,#FFF,#F7F7F7 );
                box-shadow: 0 1px 2px hsla( 0,0%,0%,0.2 );
                border-radius: 3px;
                border: 0;
                color: #333;
                margin: 2px;
            }

            .link .flat-list { font-size: 12px; }

    /* ! Container | Comments
    -------------------------------------------------------------------------------- */
    .content form > .btn-whoaverse-paging {
        background: #FF8821;
        background: -webkit-linear-gradient( top,#FF8821,#CF6E1A );
        background:    -moz-linear-gradient( top,#FF8821,#CF6E1A );
        background:     -ms-linear-gradient( top,#FF8821,#CF6E1A );
        background:      -o-linear-gradient( top,#FF8821,#CF6E1A );
        border: 0;
        border-bottom: 2px solid #A45A1A;
        border-radius: 3px;
        box-shadow: 0 1px 2px hsla( 0,0%,0%,0.6 );
        color: #FFF;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 4px 8px;
        text-transform: uppercase;
        margin-right: 8px;
    }
    .content form > .btn-whoaverse-paging:hover {
        background: #FF9B44;
        background: -webkit-linear-gradient( top,#FF9B44,#D77A29 );
        background:    -moz-linear-gradient( top,#FF9B44,#D77A29 );
        background:     -ms-linear-gradient( top,#FF9B44,#D77A29 );
        background:      -o-linear-gradient( top,#FF9B44,#D77A29 );
    }
        .commenttextarea,
        .well .form-control {
            box-shadow: 0 1px 2px hsla( 0,0%,0%,0.2 ) inset;
            margin-top: 10px;
        }

    .comment .entry {
        background: #FFF;
        background: -webkit-linear-gradient( top,#FFF,#F7F7F7 );
        background:    -moz-linear-gradient( top,#FFF,#F7F7F7 );
        background:     -ms-linear-gradient( top,#FFF,#F7F7F7 );
        background:      -o-linear-gradient( top,#FFF,#F7F7F7 );
        box-shadow: 0 1px 2px hsla( 0,0%,0%,0.2 );
        border-radius: 3px;
        margin: 2px;
        padding: 15px;
    }
        .comment a.submitter,
        .comment a.author.submitter { color: #317FB7; }
        .comment a.submitter:hover,
        .comment a.author.submitter:hover {
            color: #429FE1;
            text-decoration: none;
        }

        .comment a.author.may-blank { color: #333; }
        .comment a.author.may-blank:hover {
            color: #317FB7;
            text-decoration: none;
        }

        .comment .tagline {
            color: #757575;
            font-size: 12px;
        }

        .comment .flat-list {
            display: block;
            padding-top: 4px;
            margin-top: 6px;
            font-size: 11px;
            border-top: 1px solid #D3D3D3;
        }

        .comment .comment { padding: 4px 0 4px 8px; }

        .comment .comment .comment,
        .comment .comment .comment .comment .comment,
        .comment .comment .comment .comment .comment .comment .comment,
        .comment .comment .comment .comment .comment .comment .comment .comment .comment,
        .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
        .comment .comment,
        .comment .comment .comment .comment,
        .comment .comment .comment .comment .comment .comment,
        .comment .comment .comment .comment .comment .comment .comment .comment,
        .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
            border: 0;
            border-left: 1px solid #BCBCBC;
            border-radius: 0;
            box-shadow: -1px 0 0 #FDFDFD;
            background: none;
        }

        .comment.thread > .comment.child { margin-left: 33px; }

    /* ! Container | Submission form
    -------------------------------------------------------------------------------- */
    .well {
        background: none;
        border: 0;
        color: #333;
    }
        .alert-info {
            background: none;
            border: 0;
            border-radius: 0;
            border-bottom: 1px dotted #AAA;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: -1px;
            padding: 10px;
        }

/* ! Footer
-------------------------------------------------------------------------------- */
.footer:before {
    color: #CCC;
    content: "/v/Typogra theme";
    display: block;
    font-size: 15px;
    margin: 0 0 15px;
}
.footer {
    background: url( https://i.imgur.com/H2SAgdc.png ) repeat #222;
    box-shadow: 0 0 10px #000 inset;
    color: #DDD;
    padding: 20px;
    width: 100%;
}
    .footer a { color: #429FE1; }
    .footer a:hover { color: #429FE1; }

    .footer .bottommenu { color: #DDD; }

/* ! Mobile
-------------------------------------------------------------------------------- */
@media ( max-width: 870px ) {
    .content { margin-right: 0; }
    #container {
        padding-top: 50px;
    }

    .side {
        visibility: hidden;
        position: absolute;
        width: 100%;
    }

    .side .form-control {
        visibility: visible;
        position: absolute;
        left: 1%;
        top: -36px;
        width: 35%;
        background: none;
        border: 2px solid #333;
    }

    .side .titlebox {
        visibility: visible;
        position: absolute;
        left: 37%;
        top: -31px;
        background: none;
        color: #333;
        margin: 0;
        padding: 0;
        width: auto;
    }

    .side .titlebox.submissioninfo {
        display: none;
    }

    .side .titlebox h1 {
        font-size: 14px;
        font-weight: normal;
        margin: 0 10px 0 0;
        display: inline-block;
        border: 0;
        padding: 0;
        text-align: left;
    }

    .side .subscribers {
        font-size: 11px;
        font-weight: bold;
        display: inline-block;
        margin: 0 4px;
        text-align: left;
    }

    .side .subscribers .word {
        display: none;
    }

    .side .titlebox .users-online {
        display: none;
    }

    .side .titlebox .md,
    .side .titlebox .bottom {
        display: none;
    }

    .side .btn-whoaverse-paging {
        display: inline-block;
        width: auto;
        background: #FF8821;
        background: -webkit-linear-gradient( top,#FF8821,#CF6E1A );
        background:    -moz-linear-gradient( top,#FF8821,#CF6E1A );
        background:     -ms-linear-gradient( top,#FF8821,#CF6E1A );
        background:      -o-linear-gradient( top,#FF8821,#CF6E1A );
        border: 0;
        border-bottom: 2px solid #A45A1A;
        box-shadow: 0 1px 2px hsla( 0,0%,0%,0.5 );
        color: #EEE;
        padding: 1px 4px;
    }
}
@media ( max-width: 700px ) {
    .tabmenu li.disabled a {
        background: none;
        box-shadow: none;
    }
}