/* ! Body
-------------------------------------------------------------------------------- */
@import url( https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic );
@import url( /Content/Whoaverse-Dark.css );

body {
    background: url( https://i.imgur.com/cQxllB7.png ) repeat #1E1E1E;
    color: #D5D5D5;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 10px;
}

a { color: #317FB7; }
a:hover { color: #429FE1; }
a:visited { color: #317FB7; }

h2 { color: #333; }

hr { border-color: #CCC; }
.horizontal-line { border-bottom-color: #181818; }

pre,
code {
    background: #F5F5F5;
    border-color: #CCC;
    color: #333;
}

/* (START) Markdown */
.md a { color: #277CCB; }
.md a:hover { text-decoration: none; }

.md blockquote {
    background: none !important;
    border: 0;
    box-shadow: none;
    border-left: 3px solid #BEBEBE;
    color: #777;
    padding: 1px 8px 2px;
}

.md h1 { border-bottom-color: #BABABA; }

.md table { background-color: #FFF; }
    .md table thead { border-bottom-color: #DDD; }
    .md td,
    .md th { border-color: #DDD; }
/* (END) Markdown */

/* Default button style */
.btn-whoaverse {
    background: #3D3D3D;
    background: -webkit-linear-gradient( top,#3D3D3D,#303030 );
    background:    -moz-linear-gradient( top,#3D3D3D,#303030 );
    background:     -ms-linear-gradient( top,#3D3D3D,#303030 );
    background:      -o-linear-gradient( top,#3D3D3D,#303030 );
    border: 0;
    border-bottom: 2px solid #222;
    border-radius: 3px;
    box-shadow: 0 1px 2px hsla( 0,0%,0%,0.6 );
    color: #E3E3E3;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 4px 8px;
    margin-right: 8px;
}
.btn-whoaverse:hover {
    background: #3F68CF;
    background: -webkit-linear-gradient( top,#3F68CF,#2C53B4 );
    background:    -moz-linear-gradient( top,#3F68CF,#2C53B4 );
    background:     -ms-linear-gradient( top,#3F68CF,#2C53B4 );
    background:      -o-linear-gradient( top,#3F68CF,#2C53B4 );
    border-bottom: 2px solid #15327A;
    color: #E3E3E3;
}
    a.btn-whoaverse,
    a.btn-whoaverse:hover { color: #E3E3E3; }

.btn-whoaverse-paging {
    background: #3D3D3D;
    background: -webkit-linear-gradient( top,#3D3D3D,#303030 );
    background:    -moz-linear-gradient( top,#3D3D3D,#303030 );
    background:     -ms-linear-gradient( top,#3D3D3D,#303030 );
    background:      -o-linear-gradient( top,#3D3D3D,#303030 );
    border: 0;
    border-bottom: 2px solid #222;
    border-radius: 3px;
    box-shadow: 0 1px 2px hsla( 0,0%,0%,0.6 );
    color: #E3E3E3;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 4px 8px;
    margin-right: 8px;
}
.btn-whoaverse-paging:hover {
    background: #3F68CF;
    background: -webkit-linear-gradient( top,#3F68CF,#2C53B4 );
    background:    -moz-linear-gradient( top,#3F68CF,#2C53B4 );
    background:     -ms-linear-gradient( top,#3F68CF,#2C53B4 );
    background:      -o-linear-gradient( top,#3F68CF,#2C53B4 );
    border-bottom: 2px solid #15327A;
}
    .btn-whoaverse-paging a,
    a.btn-whoaverse-paging { color: #E3E3E3 !important; }
    .btn-whoaverse-paging a:hover,
    a.btn-whoaverse-paging:hover { color: #E3E3E3 !important; }

.btn-whoaverse-medium {
    background: #3D3D3D;
    background: -webkit-linear-gradient( top,#3D3D3D,#303030 );
    background:    -moz-linear-gradient( top,#3D3D3D,#303030 );
    background:     -ms-linear-gradient( top,#3D3D3D,#303030 );
    background:      -o-linear-gradient( top,#3D3D3D,#303030 );
    border: 0;
    border-bottom: 2px solid #222;
    border-radius: 3px;
    box-shadow: 0 1px 2px hsla( 0,0%,0%,0.6 );
    color: #E3E3E3;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 4px 8px;
    margin-right: 8px;
}
.btn-whoaverse-medium:hover {
    background: #3F68CF;
    background: -webkit-linear-gradient( top,#3F68CF,#2C53B4 );
    background:    -moz-linear-gradient( top,#3F68CF,#2C53B4 );
    background:     -ms-linear-gradient( top,#3F68CF,#2C53B4 );
    background:      -o-linear-gradient( top,#3F68CF,#2C53B4 );
    border-bottom: 2px solid #15327A;
}

/* Voting sprites */
.arrow-upvote,
.arrow-upvoted,
.arrow-downvote,
.arrow-downvoted,
.comment .arrow-upvote,
.comment .arrow-upvoted,
.comment .arrow-downvote,
.comment .arrow-downvoted {
    background: url( https://i.imgur.com/iHqX2I6.png );
    height: 16px;
    width: 16px;
}
    .arrow-upvote,.comment .arrow-upvote       { background-position:   0   0; }
    .arrow-upvoted,.comment .arrow-upvoted     { background-position: -32px 0; }
    .arrow-downvote,.comment .arrow-downvote   { background-position: -16px 0; }
    .arrow-downvoted,.comment .arrow-downvoted { background-position: -48px 0; }

/* Expando sprites */
.expando-button.selftext.collapsed,
.expando-button.selftext.collapsed:hover,
.expando-button.selftext.expanded,
.expando-button.selftext.expanded:hover,
.expando-button.selftext.loading,
.expando-button.selftext.loading:hover {
    background: url( https://i.imgur.com/iHqX2I6.png );
    height: 16px;
    width: 16px;
}
.expando-button.selftext.collapsed       { background-position:   0   -16px; }
.expando-button.selftext.collapsed:hover { background-position: -16px -16px; }
.expando-button.selftext.expanded        { background-position:   0   -32px; }
.expando-button.selftext.expanded:hover  { background-position: -16px -32px; }
.expando-button.selftext.loading         { background-position:   0   -48px; }
.expando-button.selftext.loading:hover   { background-position: -16px -48px; }

/* ! Header
-------------------------------------------------------------------------------- */
#header {
    background: url( https://i.imgur.com/wc7qUVc.png ) 50% 50%;
    height: 200px;
    margin: 0;
}
    #header-container { box-shadow: 0 1px 4px hsla( 0,0%,0%,0.5 ); }

    #header-container,
    #sr-header-area {
        background: url( https://i.imgur.com/iGhWm8v.png ) repeat #272727;
        border: 0;
    }
        #sr-header-area .selected a { color: #317FB7; }

        #sr-header-area .sr-list { margin-right: 59px; }
            .sr-list li a { color: #D0D0D0; }

            #sr-bar li a { color: #999; }
            #sr-header-area:hover #sr-bar li a { color: #D0D0D0; }

        #header-img {
            background: url( https://i.imgur.com/Yc8q9AO.png );
            padding-left: 112px;
        }

        #sr-more-link:hover {
            color: #FFF;
            background: #317FB7;
        }

            /* ! Header | Sub menu
            -------------------------------------------------------------------------------- */
            .whoaSubscriptionMenu li ul {
                border: 1px solid;
                border-color: #333 #222 #222;
                box-shadow: 3px 3px 3px hsla( 0,0%,0%,0.2 );
            }
                .whoaSubscriptionMenu li ul li a:link,
                .whoaSubscriptionMenu li ul li a:visited {
                    background: #333;
                    border-bottom: 1px solid #222;
                    color: #FFF;
                }
                .whoaSubscriptionMenu li ul li a:hover {
                    background: #47B1FC;
                    background: -webkit-linear-gradient( top,#47B1FC,#3797DC );
                    background:    -moz-linear-gradient( top,#47B1FC,#3797DC );
                    background:     -ms-linear-gradient( top,#47B1FC,#3797DC );
                    background:      -o-linear-gradient( top,#47B1FC,#3797DC );
                    color: #FFF !important;
                }

            /* Menu drop arrow icon */
            .drop-arrow { border-color: #D0D0D0 transparent transparent; }

        #sr-more-link {
            background: none;
            color: #CCC;
        }

        /* ! Header | Sub name
        -------------------------------------------------------------------------------- */
        .pagename {
            font-size: 24px;
            letter-spacing: -1px;
            text-transform: uppercase;
            margin-bottom: 9px;
        }
            .pagename a {
                color: #E0E0E0;
                border-style: solid none;
                border-width: 2px;
                border-color: transparent;
                padding: 0;
                margin: 0 12px;
            }
            .pagename a:hover {
                color: #E0E0E0;
                border-style: solid none;
                border-width: 2px;
                border-color: #E0E0E0;
                text-decoration: none;
            }

        /* ! Header | Tab menu
        -------------------------------------------------------------------------------- */
        .tabmenu { font-size: 16px; }
            .tabmenu li { text-transform: uppercase; }
                .tabmenu li a {
                    margin: 0 3px;
                    padding: 6px 0;
                }
                .tabmenu li.disabled a,
                .tabmenu li.selected a { border: 0; border-radius: 0; }

                .tabmenu li.disabled a {
                    color: #E0E0E0;
                }
                .tabmenu li.disabled a:hover {
                    color: #E0E0E0;
                    background: none;
                    border: 0;
                    border-style: solid none;
                    border-width: 2px;
                    border-color: #E0E0E0;
                    box-shadow: none;
                }
                .tabmenu li.disabled a.contribute {
                    background: none;
                    border: 0;
                    color: #D681FF;
                    font-weight: normal;
                }
                .tabmenu li.disabled a.contribute:hover {
                    background: none;
                    color: #D681FF;
                    border-style: solid none;
                    border-width: 2px;
                    border-color: #D681FF;
                }

                .tabmenu li.selected a {
                    background: none;
                    border: 0;
                    box-shadow: none;
                    color: #E0E0E0;
                    font-weight: bold;
                }
                .tabmenu li.selected a:hover {
                    color: #E0E0E0;
                    border-style: solid none;
                    border-width: 2px;
                    border-color: #E0E0E0;
                }
                .tabmenu li.selected a.contribute {
                    background: none;
                    border: 0;
                    color: #D681FF;
                    font-weight: bold;
                }
                .tabmenu li.selected a.contribute:hover {
                    background: none;
                    color: #D681FF;
                    border-style: solid none;
                    border-width: 2px;
                    border-color: #D681FF;
                }

        /* ! Header | Account
        -------------------------------------------------------------------------------- */
        .logged-in {
            color: #D0D0D0;
            background: none;
            border: 0;
            border-radius: 0;
        }
        .logged-out {
            color: #D0D0D0;
            background: none;
            border: 0;
            border-radius: 0;
        }
            #header-account a,
            #header-account .logged-out a { color: #D0D0D0; }
            #header-account a:hover { color: #317FB7; }

            #header-account .separator {
                margin: 0;
                visibility: hidden;
            }

/* ! Container
-------------------------------------------------------------------------------- */
#container {
    background: none;
    border: 0;
    border-radius: 0;
    padding: 0;
}

    /* ! Container | Sidebar
    -------------------------------------------------------------------------------- */
    .side {
        background: url( https://i.imgur.com/oo9I0OR.png ) repeat #272727;
        border-width: 1px;
        border-style: none solid solid;
        border-color: #141414;
        margin: 0;
        padding: 20px;
        width: 340px;
    }

        /* ! Container | Sidebar | Search
        -------------------------------------------------------------------------------- */
        .side .form-horizontal {
            background: url( https://i.imgur.com/VgZAC3B.png ) repeat #191919;
            color: #EEE;
            margin: 0 -20px 10px;
            padding: 20px;
            border-bottom: 1px solid #141414;
            border-top: 1px solid #141414;
        }
            .side .form-control {
                background: hsla( 0,0%,0%,0.5 );
                border: 2px solid #0E0E0E;
                border-radius: 3px;
                color: #EAEAEA;
                font-size: 13px;
                margin-bottom: 5px;
                padding: 3px;
                transition: background 0.25s ease in-out;
            }
            .side .form-control:focus { border-color: #8F4FAE; }
            .side .form-horizontal label { font-size: 10px; }

        /* ! Container | Sidebar | Submission info
        -------------------------------------------------------------------------------- */
        .alert-h2 {
            border-width: 1px;
            border-color: #999;
            color: #EEE;
        }
            .titlebox.submissioninfo a { color: #47B1FC; }
            .titlebox.submissioninfo a:hover {
                color: #D681FF;
                text-decoration: none;
            }

        /* ! Container | Sidebar | Buttons
        -------------------------------------------------------------------------------- */
        .side .btn-whoaverse {
            background: none;
            border: 0;
            border-bottom: 2px solid transparent;
            box-shadow: none;
            border-radius: 3px;
            font-weight: bold;
            letter-spacing: 2px;
            padding: 6px 0;
            text-transform: uppercase;
        }
            .side a.btn-whoaverse { color: #EDEDED; }
        .side .btn-whoaverse:hover {
            background: #2780BF;
            background: -webkit-linear-gradient( top,#2780BF,#17659C );
            background:    -moz-linear-gradient( top,#2780BF,#17659C );
            background:     -ms-linear-gradient( top,#2780BF,#17659C );
            background:      -o-linear-gradient( top,#2780BF,#17659C );
            border-bottom: 2px solid #154A70;
            box-shadow: 0 1px 2px hsla( 0,0%,0%,0.5 );
            color: #DDD;
        }

        /* ! Container | Sidebar | Titlebox
        -------------------------------------------------------------------------------- */
        .titlebox {
            background: url( https://i.imgur.com/VgZAC3B.png ) repeat #191919;
            color: #EEE;
            margin: 10px -20px 0;
            padding: 30px 20px;
            width: auto !important;
            border-bottom: 1px solid #141414;
            border-top: 1px solid #141414;
        }
            .titlebox > h1 {
                border-bottom: 1px solid #999;
                font-size: 22px;
                font-weight: normal;
                letter-spacing: -1px;
                margin: 0 0 20px;
                padding: 0 0 10px;
                text-align: center;
                text-transform: uppercase;
            }
                .titlebox h1 a:hover { color: inherit; }

            .side .btn-whoaverse-paging {
                background: none;
                border: 0;
                border-bottom: 2px solid transparent;
                box-shadow: none;
                border-radius: 3px;
                display: block;
                color: #EEE;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 2px;
                margin-bottom: 5px;
                padding: 6px 0;
                text-transform: uppercase;
                width: 100%;
            }
            .side .btn-whoaverse-paging:hover {
                background: #2780BF;
                background: -webkit-linear-gradient( top,#2780BF,#17659C );
                background:    -moz-linear-gradient( top,#2780BF,#17659C );
                background:     -ms-linear-gradient( top,#2780BF,#17659C );
                background:      -o-linear-gradient( top,#2780BF,#17659C );
                border-bottom: 2px solid #154A70;
                box-shadow: 0 1px 2px hsla( 0,0%,0%,0.5 );
                color: #DDD;
            }

            .titlebox .subscribers {
                display: block;
                margin-bottom: 20px;
                text-align: center;
            }

            .titlebox .users-online { display: none; }

            .titlebox .md { padding-bottom: 20px; }
                .titlebox .md a { color: #47B1FC; }
                .titlebox .md a:hover { color: #D681FF; }

                .titlebox .md h1,
                .titlebox .md h2,
                .titlebox .md h3,
                .titlebox .md h4,
                .titlebox .md h5,
                .titlebox .md h6 {
                    border: 0;
                    font-weight: bold;
                    text-align: center;
                }
                .titlebox .md h1 { font-size: 18px; }
                .titlebox .md h2 { font-size: 16px; }
                .titlebox .md h3 { font-size: 15px; }
                .titlebox .md h4,
                .titlebox .md h5,
                .titlebox .md h6 { font-size: 14px; }

            .titlebox .bottom {
                color: inherit;
                border-top: 1px solid #999;
                padding: 10px 0 0;
            }
                .titlebox .bottom a { color: #47B1FC; }
                .titlebox .bottom a:hover { color: #FF8821; }

        /* ! Container | Sidebar | Moderators
        -------------------------------------------------------------------------------- */
        .sidecontentbox a.helplink {
            border-bottom: 2px solid transparent;
            border-radius: 3px;
            color: #EDEDED;
            display: block;
            float: none;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 2px;
            margin-bottom: 20px;
            padding: 6px 0;
            text-align: center;
            text-transform: uppercase;
        }
        .sidecontentbox a.helplink:hover {
            background: #2780BF;
            background: -webkit-linear-gradient( top,#2780BF,#17659C );
            background:    -moz-linear-gradient( top,#2780BF,#17659C );
            background:     -ms-linear-gradient( top,#2780BF,#17659C );
            background:      -o-linear-gradient( top,#2780BF,#17659C );
            border-bottom: 2px solid #154A70;
            box-shadow: 0 1px 2px hsla( 0,0%,0%,0.5 );
            color: #DDD;
        }

        .titlebox form.toggle,
        .leavemoderator {
            background: inherit;
            color: inherit;
            font-size: inherit;
        }

        /* chat */
        .accordion {
            background: url( https://i.imgur.com/VgZAC3B.png ) repeat #191919;
            color: #EEE;
            margin: 10px -20px 0;
            padding: 20px 20px 10px;
            width: auto !important;
            border-bottom: 1px solid #141414;
            border-top: 1px solid #141414;
        }

        .side .spacer.spacersection {
            background: none;
            border: 0;
            border-radius: 0;
            padding: 0;
        }

        .side .title { padding-top: 8px; }
            .side .title h1.alert-h1 {
                font-size: 15px;
                border: 0;
                color: #E4E4E4;
                font-weight: bold;
                margin-bottom: 2px;
                padding: 2px;
            }

        .sidecontentbox ul.content,
        .sidecontentbox .content {
            background: none;
            border: 0;
            border-top: 1px solid #111;
            margin-top: 5px;
            padding-top: 5px;
        }

        .spacer .content li a:hover {
            color: #317FB7;
            text-decoration: underline;
        }
    
    /* ! Container | Sitetable
    -------------------------------------------------------------------------------- */
    .content {
        margin: 0 350px 0 0;
        padding: 20px 20px 25px;
    }
        .link {
            border: 0;
            border-width: 1px;
            border-style: none none solid;
            border-color: #111;
            padding: 16px 0;
            box-shadow: 0 1px 0 #2A2A2A;
        }
        .link:last-child {
            border: 0;
            box-shadow: none;
        }
            .link .rank {
                color: #999;
                font-size: 11px;
            }

            /* Arrow score */
            .link .score { color: #999; }
                .link .score.likes    { color: #326DE8; }
                .link .score.dislikes { color: #333; }

            .scorebar-likes    { background: #4883FF; }
            .scorebar-dislikes { background: #333; }

            .thumbnail {
                border-radius: 0;
                border-color: #0C0C0C;
            }
            a.thumbnail:hover,
            a.thumbnail:focus,
            a.thumbnail:active { border-color: #2780BF; }

            .link .title:hover { color: #317FB7; }
                .promoted {
                    background: #181818;
                    border: 1px solid #0C0C0C;
                    color: #EEE;
                    font-size: 8px;
                    text-transform: uppercase;
                }

                .link a.title.may-blank {
                    color: #ADADAD;
                    font-weight: bold;
                }
                .link a.title.may-blank:visited { color: #636363; }
                .link a.title.may-blank:hover { color: #317FB7; }

                .link .title .domain {
                    letter-spacing: 0;
                    font-weight: normal;
                    font-size: 12px;
                }
                    .link .title .domain a {
                        color: #666;
                        margin: 0 2px;
                    }
                    .link .title .domain a:hover { color: #317FB7; }

            .link .tagline {
                color: #8D8D8D;
                font-size: 13px;
            }
            .link .tagline a { color: #317FB7; }
                .tagline .post_upvotes   { color: #326DE8; }
                .tagline .post_downvotes { color: inherit; }

                .link a.author.may-blank { color: #277CCB; }
                .link a.subverse.may-blank { color: #277CCB; }

                .link a.subverse:hover {
                    color: #317FB7;
                    text-decoration: underline;
                }

            .link .usertext .md {
                background: #292929;
                background: -webkit-linear-gradient( top,#292929,#252525 );
                background:    -moz-linear-gradient( top,#292929,#252525 );
                background:     -ms-linear-gradient( top,#292929,#252525 );
                background:      -o-linear-gradient( top,#292929,#252525 );
                box-shadow: 0 1px 2px hsla( 0,0%,0%,0.2 );
                border-radius: 3px;
                border: 0;
                color: #CCC;
                margin: 2px;
            }
                .link .usertext .md a:hover { text-decoration: underline; }

            .link .flat-list { font-size: 12px; }
                .link .flat-list li a { color: #8D8D8D; }

        .even { background: none; }

    /* ! Container | Comments
    -------------------------------------------------------------------------------- */
    .menuarea .selected a:hover {
        color: #317FB7;
        text-decoration: underline;
    }

    .content form > .btn-whoaverse-paging {
        background: #3D3D3D;
        background: -webkit-linear-gradient( top,#3D3D3D,#303030 );
        background:    -moz-linear-gradient( top,#3D3D3D,#303030 );
        background:     -ms-linear-gradient( top,#3D3D3D,#303030 );
        background:      -o-linear-gradient( top,#3D3D3D,#303030 );
        border: 0;
        border-bottom: 2px solid #222;
        border-radius: 3px;
        box-shadow: 0 1px 2px hsla( 0,0%,0%,0.6 );
        color: #E3E3E3;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 4px 8px;
        margin-right: 8px;
    }
    .content form > .btn-whoaverse-paging:hover {
        background: #3F68CF;
        background: -webkit-linear-gradient( top,#3F68CF,#2C53B4 );
        background:    -moz-linear-gradient( top,#3F68CF,#2C53B4 );
        background:     -ms-linear-gradient( top,#3F68CF,#2C53B4 );
        background:      -o-linear-gradient( top,#3F68CF,#2C53B4 );
        border-color: #15327A;
    }
        .commenttextarea,
        .well .form-control,
        .comment .form-control {
            box-shadow: 0 1px 2px hsla( 0,0%,0%,0.2 ) inset;
            margin-top: 10px;
            background: #191919;
            border-bottom: 1px solid #2D2D2D;
            border-top: none;
            border-left: none;
            border-right: none;
            color: #D5D5D5;
        }
        .commenttextarea:focus,
        .form-control:focus {
            border-color: #2C2C2C;
            background: #171717;
        }
        .form-control::-moz-placeholder,
        .form-control:-ms-input-placeholder,
        .form-control::-webkit-input-placeholder { color: #777; }

    .comment .entry {
        background: #292929;
        background: -webkit-linear-gradient( top,#292929,#252525 );
        background:    -moz-linear-gradient( top,#292929,#252525 );
        background:     -ms-linear-gradient( top,#292929,#252525 );
        background:      -o-linear-gradient( top,#292929,#252525 );
        box-shadow: 0 1px 2px hsla( 0,0%,0%,0.2 );
        border-radius: 3px;
        margin: 2px;
        padding: 15px;
    }
        .comment a.submitter,
        .comment a.author.submitter { color: #317FB7; }
        .comment a.submitter:hover,
        .comment a.author.submitter:hover {
            color: #429FE1;
            text-decoration: none;
        }

        .comment a.author.may-blank { color: #999; }
        .comment a.author.may-blank:hover {
            color: #317FB7;
            text-decoration: none;
        }

        .comment .tagline {
            color: #999;
            font-size: 12px;
        }

        .comment .md a:hover { text-decoration: underline; }

        .comment .flat-list {
            display: block;
            padding-top: 4px;
            margin-top: 6px;
            font-size: 11px;
            border-top: 1px solid #181818;
        }
            .comment .flat-list.buttons li a {
                color: #999;
            }

        .comment .comment {
            padding: 4px 0 0 8px;
            margin: 8px 0 0 14px;
        }

        /* highlighted comments */
        .highlightedComment {
            background: none !important;
            border: 0 !important;
        }
            .highlightedComment.comment > .entry {
                background: #292929;
                background: -webkit-linear-gradient( top,#292929,#252525 );
                background:    -moz-linear-gradient( top,#292929,#252525 );
                background:     -ms-linear-gradient( top,#292929,#252525 );
                background:      -o-linear-gradient( top,#292929,#252525 );
                border: 2px solid #17659C;
            }

        .comment .comment .comment,
        .comment .comment .comment .comment .comment,
        .comment .comment .comment .comment .comment .comment .comment,
        .comment .comment .comment .comment .comment .comment .comment .comment .comment,
        .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
        .comment .comment,
        .comment .comment .comment .comment,
        .comment .comment .comment .comment .comment .comment,
        .comment .comment .comment .comment .comment .comment .comment .comment,
        .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
            border: 0;
            border-left: 1px solid #111 !important;
            border-radius: 0;
            box-shadow: -1px 0 0 #272727;
            background: none;
        }

        .comment.thread > .comment.child { margin-left: 33px; }

    #loadmorebutton {
        font-size: 11px;
        font-weight: normal;
        margin-top: 10px;
        padding: 10px;
    }

    /* ! Container | Submission form
    -------------------------------------------------------------------------------- */
    .well {
        background: none;
        border: 0;
        color: #A5A5A5;
    }
        .alert-info {
            background: none;
            border: 0;
            border-radius: 0;
            border-bottom: 1px dotted #181818;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: -1px;
            padding: 10px;
            color: #A5A5A5;
        }

/* ! Footer
-------------------------------------------------------------------------------- */
.footer:before {
    color: #CCC;
    content: "/v/Typogra theme"; /* Do not remove! */
    display: block;
    font-size: 15px;
    margin: 0 0 15px;
}
.footer {
    background: url( https://i.imgur.com/oo9I0OR.png ) repeat #272727;
    box-shadow: 0 0 10px #000 inset;
    color: #DDD;
    padding: 20px;
    width: 100%;
}
    .footer a { color: #429FE1; }
    .footer a:hover { color: #429FE1; }

    .footer .bottommenu { color: #DDD; }

/* ! Mobile
-------------------------------------------------------------------------------- */
@media ( max-width: 870px ) {
    .content { margin-right: 0; }
        .side { width: 300px; }
}
@media ( max-width: 700px ) {
    .tabmenu li.disabled a {
        background: none;
        box-shadow: none;
    }
}
@media ( max-width: 550px ) {
    .expando-button.selftext.collapsed,
    .expando-button.selftext.collapsed:hover,
    .expando-button.selftext.expanded,
    .expando-button.selftext.expanded:hover,
    .expando-button.selftext.loading,
    .expando-button.selftext.loading:hover {
        background: url( https://i.imgur.com/iHqX2I6.png );
        height: 32px;
        width: 32px;
    }
    .expando-button.selftext.collapsed,
    .expando-button.selftext.collapsed:hover { background-position: -32px -16px; }
    .expando-button.selftext.expanded,
    .expando-button.selftext.expanded:hover  { background-position: -32px -48px; }
    .expando-button.selftext.loading,
    .expando-button.selftext.loading:hover   { background-position:   0   -64px; }
}

/* ! Customize
-------------------------------------------------------------------------------- */
/* This is the customization section. To apply new customizations, delete the
 * LINES with comment markings '/ *!+++' and '+++!* /'. Markings highlighted with a
 * '!' are meant to be deleted to apply new customizations. Please leave any
 * other comment markings alone.
 */




/* Banner image
 * ------------
 * Change the header banner image. Replace 'IMAGE_URL'.
 */

/* ! +++

#header {
    background: url( IMAGE_URL );
    height: 200px;
}

+++ ! */




/* Font
 * ----
 * Change the theme font. Delete any lines that aren't going to be customized.
 * Replace the following:
 *  - 'GOOGLE_FONTS_URL': The CSS URL that Google Fonts gives you.
 *  - 'FONT':             The font name. Surround with quotation marks if the
 *                        font has spaces.
 */

/* ! +++

@import url( GOOGLE_FONTS_URL );

body {
    font-family: FONT,sans-serif;
}

+++ ! */




/* Noise backgrounds
 * -----------------
 * Change all of the backgrounds equipped with a noise texture. Delete any lines
 * that aren't going to be customized. Replace the following:
 *  - 'BODY_BACKGROUND_URL': The entire page background.
 *  - 'HEADER_STRIP_URL':    Top subverse list and tab menu backgrounds.
 *  - 'SIDEBAR_URL':         The entire sidebar background.
 *  - 'SEARCH_SECTION_URL':  The search box strip background on the sidebar.
 *  - 'SUB_DESCRIPTION_URL': The subverse description box background.
 *  - 'FOOTER_URL':          The footer background.
 */

/* ! +++

body                              { background: url( BODY_BACKGROUND_URL ) repeat; }
#header-container,#sr-header-area { background: url( HEADER_STRIP_URL    ) repeat; }
.side                             { background: url( SIDEBAR_URL         ) repeat; }
.side .form-horizontal            { background: url( SEARCH_SECTION_URL  ) repeat; }
.titlebox                         { background: url( SUB_DESCRIPTION_URL ) repeat; }
.footer                           { background: url( FOOTER_URL          ) repeat; }

+++ ! */
